*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@import 'animations.scss';

.battery{
    width: 80vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .batteryBody{
        width: 95%;
        height: 100%;
        border: 4px solid black;
        display: flex;
        justify-content: start;
        padding: 1%;
        .energy{
            animation: battery 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-direction: alternate;
            
        }
        
    }
    .batteryTip{
        width: 5%;
        height: 60%;
        border: 4px solid black;
        background-color: black;
        border-radius: 0px 10px 10px 0px;
    }
}
.container{
    width: 500px;
    height: 500px;
    background-color: black;
    animation: animacao;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: reverse;
    
}
.container2{
    width: 500px;
    height: 500px;
    background-color: black;
    animation: animacao2;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
.heading{
    width: 500px;
    height: 500px;
}
.heading1{
    animation: heading;
    animation-duration: 2s;
    animation-direction: reverse;
}
.animation.spinLeft{
    animation: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: left;
}
.animation.spinRight{
    animation: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: right;
}
.animation.spinCenter{
    animation: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: center;
}
